asgiref==3.8.1
backports.zoneinfo==0.2.1
beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
contourpy==1.1.1
cycler==0.12.1
Django==4.2.15
dnspython==2.6.1
docutils==0.20.1
fonttools==4.51.0
idna==3.7
importlib-resources==6.4.0
kiwisolver==1.4.5
lockfile==0.12.2
luigi==3.5.0
matplotlib==3.7.5
numpy==1.24.4
packaging==24.0
pandas==2.0.3
pillow==10.3.0
pymongo==4.6.3
pyparsing==3.1.2
python-daemon==3.0.1
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
schedule==1.2.1
six==1.16.0
soupsieve==2.5
sqlparse==0.5.1
tenacity==8.2.3
toml==0.10.2
tornado==6.4
typing-extensions==4.12.2
tzdata==2024.1
urllib3==2.2.1
zipp==3.18.1
